body {
    background-color: #ddd;
    padding-top: 50px;
    font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.white-div {
    background-color: #fff;
    border-radius: 6px;
}
.mdes {
    padding: 4px 3px 4px 0px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

/* home */
.mlist, .tags {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    line-height: 25px;
}
.mlist li {
    border-top: 1px dashed #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 25px;
}
.db-rank {
    padding-bottom: 10px;
    line-height: 25px;
}

/* movie */
.mpic {
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
}
.resource-list {
    border-bottom: 1px dashed #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
}
.quick-resource ul li a:hover {
    text-decoration: none;
}

/* country */
.country {
    padding-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px dashed #ccc;
}
.country li {
    width: 25%;
    float: left;
    padding-top: 4px;
    padding-bottom: 4px;
}
.country li a {
    background-color: #f5f5f5;
    padding: 4px 10px;
}



/*
 * Footer
 */
.footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}
.footer p:last-child {
    margin-bottom: 0;
}